doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Miron Ystansev
    |         
    link(rel='stylesheet', href='assets/css/default.css')
    link(rel='stylesheet', href='assets/awesome-icons/css/all.css')
    link(rel='stylesheet', href='assets/css/main.css')
    |     
    meta(name='description', content='Just a site made for an amateur performing the functions of communication with the creator and file hosting')
    |     
    meta(name='robots', content='all')
    |     
    meta(name='keywords', content='koralx, Miron Ystansev, web, Miron, Ystansev, developer')
  body
    div.loading
      div.loading_cubes
        div.loading_cube
        div.loading_cube
        div.loading_cube
        div.loading_cube
    header.header
      .header_title 
        h1 I LIVE TO CREATE
      .avatar-block
        img.avatar(src='/assets/image/avatars/8_9-avKoCXs.jpg', alt='')
        |             
        p.name Miron Ystansev
        |             
        p.subname koralx
        |             
        small.location
          i.fas.fa-map-marker-alt
          |  Russia
    |     
    main.main
      h2.main_title About me
      |         
      article.main_block
        ul.main_list
          li &#x1F44B; Hi, I&rsquo;m @koralx, Miron Ystansev!
          |                 
          li &#x1F331; I&rsquo;m currently learning node.js, JavaScript and others
          |                 
          li &#x1F4EB; How to reach me miron.miron.y@mail.ru, koralx#2139, 
            a(href="https://vk.com/koralxs" target="_blank") https://vk.com/koralxs
          li 
            | 💾 My github 
            a(href="https://github.com/koralx" target="_blank") https://github.com/koralx,
            |  there you can find my repositories
      |           
      h2.main_title Download files 
      |  
      section.main_section
        article.main_grid-3
        div.section_hide-button(onclick="showAllElements(this)")
          i.fas.fa-chevron-down
      article.main_block-text
        p.block_text I make sites in node.js, React.js, have experience, I am ready to do work of any complexity and volume for a low price

    script(type='text/javascript', src='/assets/js/loadingAnimation.js').
    script(type='text/javascript', src='/assets/js/serverRequests.js' defer).
    script(type='text/javascript', src='/assets/js/FileControll.js' defer).
    style.
      @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=PT+Mono&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');