.loading {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #282b31;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_cubes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_cube {
    border-radius: 5px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: 0 10px;
    transition: ease-out .25s;
}

.loading_cube_zoom {
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 5px;
    width: 25px;
    height: 25px;
}




.header {
    position: relative;
    display: flex;
    border-bottom: 2px solid #3F8EB5;
    background: url(../image/123.jpg) center 15% no-repeat;
    background-size: cover;
    width: 100vw;
    height: 300px;
    background-color: rgb(165, 225, 253);
}

.header_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Major Mono Display';
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    align-self: center;
}

.avatar-block {
    position: relative;
    bottom: -65%;
    left: 8vw;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}

.name {
    margin-top: 15px;
    font-size: 24px;
    color: #5cb0dd;
}

.subname {
    margin: 15px 0;
    font-size: 18px;
    color: #a1a1a1;
}







.main {
    display: flex;
    position: absolute;
    right: 25vw;
    left: 25vw;
    top: 350px;
    flex-direction: column;
    width: 50vw;
    max-width: 1600px;
    padding-bottom: 20vh;
}

.main_block-text {

    border-top: 1.5px dashed #bdbdbd;
    border-bottom: 1.5px dashed #bdbdbd;
    padding: 5%;
}

.block_text {
    font-size: 17px;
    padding-bottom: 5px;
}

.main_title {
    margin: 5vh 0 1vh 20px;
}

.main_block {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 7.5px;
    border: 1px solid #bdbdbd;
}

.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;
}

.main_list {
    margin: 5% 7.5%;
}

.main_list>li {
    margin: 1.5% 0;
}



.main_grid-3 {
    transition: all 1s;
    margin-bottom: 1vh;
    display: grid;
    max-height: 170px;
    overflow-y: hidden;
    width: 100%;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
}



.main_grid-3_block-1-3 {
    transition: ease-out 0.5s;
    box-sizing: border-box;
    height: 70px;
    padding: 0 5%;
    margin-bottom: 15px;
}

.main_grid-3_block-1-3:hover {
    cursor: pointer;
    border: 1px solid #686a6e;
}

.main_grid-3_block-1-3>i {
    position: relative;
    font-size: 30px;
    color: #949494;
}

.main_grid-3_file-info {
    margin-left: 5%;
    margin-right: 5%;
}

.file-name {
    margin-bottom: 5px;
}

.file-name,
.file-size {
    font-family: 'Ubuntu Mono',
        monospace;
    font-size: 13px;
}

.section_hide-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_hide-button>i {
    color: #5cb0dd;
    position: relative;
    animation: updown 2.5s;
    animation-iteration-count: infinite;
    transition: all 0.5s;
    font-size: 36px;
}

@keyframes updown {
    25% {
        top: 0px;
    }

    50% {
        top: 5px;
    }

    90% {
        top: 0px;
    }
}

.section_hide-button>i:hover {
    color: #249dbb;
    cursor: pointer;
}


.transform360deg {
    transform: rotate(180deg);
}

.hide {
    display: none;
}

@media (max-width: 1200px) {
    .main {
        right: 15vw;
    }

}

@media(max-width: 1000px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .avatar-block {
        position: relative;
        left: 0;
        bottom: -65%;
        align-items: center;
    }

    .header_title {
        text-align: center;
    }

    .main {
        right: 0;
        left: 0;
        top: 200px;
        width: 95vw;
        position: relative;
        align-self: center;
    }

    .main_grid-3 {
        justify-content: space-between;
        max-height: 240px;
        grid-template-columns: 48% 48%;
    }
}

@media (max-width: 600px) {
    .header {
        display: flex;
        justify-content: center;
    }
    .avatar-block {
        position: relative;
        left: 0;
        bottom: -65%;
        align-items: center;
    }
    .header_title {
        margin-top: 5vh;
        align-self: start;
    }
    .main {
        right: 0;
        top: 200px;
        width: 95vw;
        position: relative;
        align-self: center;
    }
    .main_grid-3 {
        justify-content: center;
        grid-template-columns: 99%;
    }
}

.main_grid-3_expansion {
    max-height: 1550px;
}